@media screen and (max-device-width: 1173px){
  /* some CSS here */

}

@media screen and (min-device-width: 1173px){
  /* some CSS here */
  .searchCon {  
    height: 60vw;
  }
}

.error {
  font-size: 35px;
}

.red {
  background-color: #ec2016;
}

.logo {
  width: 100%;
  margin-bottom: 10px;
}

.art {
  width: 100%;
  height: 70%;
}

#footer {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
  position: absolute;
  padding-top: 30px;
  padding-bottom:40px;
  padding-left: 20px;
}

a {
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
}

a:hover {
  background-color: #ddd;
  color: black;
}

.navLink {
  display: inline-block;
  padding: 8px 16px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;

  background-color: black;
  color: white;
  margin-bottom: 20px;
  border-radius: 50%;
  border: none;
}

.navLink:hover {
  background-color: #ddd;
  color: black;
}

.previous {
  float: left;
}

.next {
  float: right;
}

h2 {
  font-size: 40px;
  margin: 0;
  margin-bottom: 25px;
}

h3 {
  font-size: 29px;  
  margin: 0;
  width: fit-content;
  padding: 8px 12px;
  border-radius: 20px;
  background-color: rgb(212, 212, 212);
}

#typename {
  margin-bottom: 0;
}

.main-con {
  border: 3px inset;
  border-radius: 50px;
  width: fit-content;
}

.container {
  border: 3px inset;
  border-radius: 50px;
  padding: 30px;
  display: inline-block;
  width: 400px;
  background-color: white;
  margin: 25px;
}

.pokemonName {
  font-size: 19px;
  text-decoration: none;
}

.pagination {
  min-width: 80px;
  min-height: 30px;
  margin: 20px;
  font-size: 17px;
}

.pokemonList {
  justify-content: center;
  align-items: center;
  list-style-image: url('pokeball_20.png');
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  width: 100%;
}

#search {
  text-align: center;
  width: 100%;
}

.searchBar {
  width: 80%;
  height: 34px;
}

.searchButton {
  width: 10%;
  height: 40px;
}

.searchCon {
  display: flex;
  align-items: center;
  max-height: 700px;
  margin-top: 25px;
}

.searchConSide {
  margin-bottom: 20px;
}

.gender {
  font-size: 20px;
}

.sprite {
  width: 150px;
  height: 150px;
  object-fit: cover;
}

.sprite:hover {
  border: 3px solid black;
 transform: scale(2.0);
   -webkit-transition-duration: 1s;
 -moz-transition-duration: 1s;
 -o-transition-duration: 1s;
 transition-duration: 1s;
  z-index: 3;
  background-color: white;
}

#spriteToggleBtnCon {
  width: 100%;
  margin-top: 15px;
  margin-bottom: 10px;
}

.spriteToggleBtn {
  width: 50%;
  font-size: 20px;
  font-family:'Courier New', Courier, monospace;
  font-weight: bold;
  height: 35px;
}

.artwork {
  width: 100%;
  margin-bottom: -25px;
  margin-top: -25px;
}

#abilities p, #stats table, p {
  font-size: 19px;
}

#abilities p:last-child {
  margin-bottom: 0px;
}

#hnw h4, #hnw p {
  font-size: 20px;
}

#hnw h4 {
  margin-bottom: -10px;
}

 table {
  margin-top: 20px;
  width: 100%;
  font-size: 19px;
}

 table th {
  padding-right: 7px;
  padding-left: 10px;
  width: 65%;
}

 table td {
  width: 35%;
  text-align: center;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

#typename {
  margin-bottom: 0;
}

.types {
  display: flex;
  margin-top: 20px;
  width: 100%;
  flex-wrap: wrap;
}

.type {
  margin: 5px 10px;
  padding: 3px 10px;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  font-family: initial;
}

.typeAnD {
  margin-bottom: 20px;
}

.grass {
  background-color: #78C850;
}

.poison {
  background-color: #A040A0;
}

.fire {
  background-color: #F08030;
}

.flying {
  background-color: #A890F0;
}

.normal {
  background-color: #A8A878;
}

.fighting {
  background-color: #C03028;
}

.rock {
  background-color: #B8A038;
}

.steel { 
  background-color: #B8B8D0;
}

.dragon {
  background-color: #7038F8;
}

.ground {
  background-color: #E0C068;
}

.fairy {
  background-color: #EE99AC;
}

.psychic {
  background-color: #F85888;
}

.dark {
  background-color: #705848;
}

.water {
  background-color: #6890F0;
}

.ice {
  background-color: #98D8D8;
}

.ghost {
  background-color: #705898;
}

.electric {
  background-color: #F8D030;
}

.bug {
  background-color: #A8B820;
}