
h2 {
  font-size: 40px;
  margin: 0;
  margin-bottom: 25px;
}

h3 {
  font-size: 29px;  
  text-decoration: underline;
  margin: 0;
}

.main-con {
  border: 3px inset;
  border-radius: 50px;
  /* padding: 25px; */
  /* align-content: center; */
  width: fit-content;
}

.container {
  /* border: 2px inset black; */
  border: 3px inset;
  border-radius: 50px;
  padding: 30px;
  display: inline-block;
  width: 400px;
  /* height: 450px; */
  /* min-height: 200px; */
  background-color: white;
  margin: 25px;
  /* align-self: center; */
}

.pokemonName {
  font-size: 19px;
  text-decoration: none;
}

.pagination {
  min-width: 80px;
  min-height: 30px;
  margin: 20px;
  font-size: 17px;
}

.pokemonList {
  justify-content: center;
  align-items: center;
  list-style-image: url('pokeball_20.png');
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.gender {
  font-size: 20px;
}

.sprite {
  width: 150px;
  height: 150px;
  object-fit: cover;
}

.sprite:hover {
  border: 3px solid black;
 transform: scale(2.0);
   -webkit-transition-duration: 1s;
 -moz-transition-duration: 1s;
 -o-transition-duration: 1s;
 transition-duration: 1s;
  z-index: 3;
  background-color: white;
}

#spritesHeading{
  width: fit-content;
}

#spriteToggleBtnCon {
  width: 100%;
  margin-top: 10px;
}

.spriteToggleBtn {
  width: 50%;
  font-size: 20px;
  font-family:'Courier New', Courier, monospace;
  font-weight: bold;
  height: 35px;
}

.artwork {
  height: 400px;
  width: 400px;
  /* border: 1px solid black; */
  margin-bottom: -25px;
  margin-top: -25px;
}

#abilities p, #stats table {
  font-size: 19px;
}

#abilities p:last-child {
  margin-bottom: 0px;
}

#stats table {
  margin-top: 10px;
  width: 100%;
}

#stats table th {
  /* text-align: right; */
  padding-right: 7px;
  padding-left: 10px;
  width: 65%;
}

#stats table td {
  /* padding-left: 50px; */
  /* padding-right: 10px; */
  width: 35%;
  /* align-content: center; */
  /* align-items: center; */
  text-align: center;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

.types {
  display: flex;
  margin-top: 20px;
}

.type {
  /* border: 1.7px solid black; */
  margin: 5px 10px;
  padding: 3px 10px;
  border-radius: 5px;
  color: white;
  font-weight: bold;
}

.grass {
  background-color: #78C850;
}

.poison {
  background-color: #A040A0;
}

.fire {
  background-color: #F08030;
}

.flying {
  background-color: #A890F0;
}

.normal {
  background-color: #A8A878;
}

.fighting {
  background-color: #C03028;
}

.rock {
  background-color: #B8A038;
}

.steel { 
  background-color: #B8B8D0;
}

.dragon {
  background-color: #7038F8;
}

.ground {
  background-color: #E0C068;
}

.fairy {
  background-color: #EE99AC;
}

.psychic {
  background-color: #F85888;
}

.dark {
  background-color: #705848;
}

.water {
  background-color: #6890F0;
}

.ice {
  background-color: #98D8D8;
}

.ghost {
  background-color: #705898;
}

.electric {
  background-color: #F8D030;
}

.bug {
  background-color: #A8B820;
}